Assets/Models/
Assets/PostProcessing/
Assets/Scene/
Assets/UI Resources/
Assets/StreamingAssets/
Models.meta
PostProcessing.meta
Scene.meta
UI Resources.meta
StreamingAssets.meta
Temp/
obj/
Library/

